<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="./product_detail.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="product">
            <img class="product__img"
                src="http://www.helinoxstore.co.kr/shopimages/helinox/0010050000262.jpg?1693890540"></img>
            <div class="order">
                <div class="order__text--brand">헬리녹스</div>
                <div class="order__text--title">체어원 / 코요테탄</div>
                <div class="order__text">
                    <div>판매가</div>
                    <b>
                        <div class="order__price--original">115,000원</div>
                    </b>
                </div>
                <div class="divider"></div>
                <div>체어원 / 코요테탄</div>
                <div class="counter">
                    <div class="counter__detail">
                        <input class="input counter__number" value="1">
                        <div class="counter__plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-plus">
                                <path d="M5 12h14" />
                                <path d="M12 5v14" />
                            </svg>
                        </div>
                        <div class="counter__minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-minus">
                                <path d="M5 12h14" />
                            </svg>
                        </div>
                    </div>
                    <div class="order__price">115,000원</div>
                </div>
                <div class="divider"></div>
                <div class="order__total">
                    <div>총 상품 금액</div>
                    <div class="order__price--total">115,000원</div>
                </div>
                <div class="button__section">
                    <button class="button is-rounded is-fullwidth">관심상품</button>
                    <button class="button is-rounded is-fullwidth">장바구니</button>
                </div>
                <button class="button is-rounded is-fullwidth order__btn">주문하기</button>
            </div>
        </div>
        <div class="preview__gradient"></div>
        <div class="preview__crop">
            <img class="preview__img" src="https://i.ibb.co/zP9hzMM/product.png"></img>
            <button class="button is-rounded is-responsive preview__btn">상품정보 접기 <svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up">
                    <path d="m18 15-6-6-6 6" />
                </svg></button>
        </div>
        <button class="button is-rounded is-responsive more__btn">상품정보 더보기 <svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down">
                <path d="m6 9 6 6 6-6" />
            </svg></button>
    </div>

    <script src="./product_detail.js"></script>
</body>

</html>