<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="./cart.css">
    <title>gazago</title>
</head>

<body>
    <div class="container">
        <div class="manage">
            <label class="checkbox">
                <input type="checkbox" onclick="selectAll(this)">전체선택</label>
            <button class="button is-light is-rounded delete__button">삭제하기</button>
        </div>
        <div class="content">
            <div class="product">
                <label class="checkbox">
                    <input type="checkbox"></label>
                <img class="product__image"
                    src="http://www.helinoxstore.co.kr/shopimages/helinox/0010050000242.jpg?1584076493"></img>
                <div class="product__detail">
                    <div>체어원 / 올 블랙</div>
                    <b>
                        <span class="product__price">75,000원</span>
                    </b>
                </div>

            </div>
            <div class="price">
                <b>
                    <span class="counter__price">75,000원</span>
                </b>
                <div class="counter">
                    <div class="counter__minus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-minus">
                            <path d="M5 12h14" />
                        </svg>
                    </div>
                    <input class="counter__number" value="1">
                    <div class="counter__plus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-plus">
                            <path d="M5 12h14" />
                            <path d="M12 5v14" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="product">
                <label class="checkbox">
                    <input type="checkbox"></label>
                <img class="product__image"
                    src="http://www.helinoxstore.co.kr/shopimages/helinox/0010050000262.jpg?1693890540"></img>
                <div class="product__detail">
                    <span>체어원 / 코요테탄</span>
                    <b>
                        <span class="product__price">135,000원</span>
                    </b>
                </div>

            </div>
            <div class="price">
                <b>
                    <span class="counter__price">135,000원</span>
                </b>
                <div class="counter">
                    <div class="counter__minus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-minus">
                            <path d="M5 12h14" />
                        </svg>
                    </div>
                    <input class="counter__number" value="1">
                    <div class="counter__plus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-plus">
                            <path d="M5 12h14" />
                            <path d="M12 5v14" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="total">
            <div class="total__title">
                <span>총 주문금액</span>
                <span>총 배송비</span>
                <span>총 결제금액</span>
            </div>
            <div class="divider"></div>
            <div class="total__price">
                <div class="total__box">
                    <span class="total__price--big" id="total__price--product">0</span>원
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-plus-circle">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                </svg>
                <div class="total__box">
                    <span class="total__price--big" id="total__price--delivery">0</span>원
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-plus-circle">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                </svg>
                <div class="total__box">
                    <span class="total__price--big" id="total__price">0</span>원
                </div>
            </div>
        </div>
        <div class="pagemove">
            <button class="button is-medium is-responsive is-rounded is-outlined back__button">
                계속 쇼핑하기
            </button>
            <button class="button is-medium is-responsive is-rounded order__button">
                구매하기
            </button>
        </div>
    </div>
    <script src="./cart.js"></script>
</body>

</html>