<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        <link rel="stylesheet" href="home.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
                    src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/skin/front/minimalworks_230217/img/banner/409465777be73e2659acd4c89152aad5_99911.jpg">
      </div>
      <div class="swiper-slide">
        <img
        src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/skin/front/minimalworks_230217/img/banner/d20f996fa46c9945544e69c45bcbd448_15607.jpg">
    </div>
      <div class="swiper-slide">
        <img
                    src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/skin/front/minimalworks_230217/img/banner/eb226b96b8b649ba2d925d80a5c04240_31877.jpg">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/skin/front/minimalworks_230217/img/banner/02d65dd1be838b94e90299f7814ece37_19298.jpg">
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  </div>
    <div class="container" id="wrap">

        <section class="main__wrap">
            <div class="main">
                <div class="main__content__img-box-1">
                    <img src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/skin/front/minimalworks_230217/img/banner/4efdd2f969559e8b1c92e99f32ded48e_63072.jpg"
                        alt="">
                </div>
                <div class="main__content__box">
                    <div class="main__content__p_box">
                        <p class="p1">Minimalworks<br>Tent / Shleter</p>
                        <p class="p2">더블 크로스의 폴대 구조를 적용하여<br>
                            최소한의 에너지를 소모하여 설치 및 해체가 가능하며<br>
                            최적의 공간감을 선사 합니다.</p>
                    </div>
                    <div class="main__content__img-box-2">
                        <img src="https://godomall.speedycdn.net/5463856e4c1bd3744a911c70d668469d/goods/739/maingall/thumb/4789d522464657c3512"
                            alt="">
                    </div>
                </div>
            </div>
        </section> 

        <section class="campers-pick__wrap">
            <div class="campers-pick__title__box">
                <p class="campers-pick__p">CAMPERS PICK</p>
            </div>
            <div class="campers-pick__list">
                <div class="campers-pick__item">
                    <a href="">
                        <img class="campers-pick__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/09/38/776/776_detail_034.jpg"
                            alt=""></a><br>
                    <p class="item-tit-box">
                        <a href="#">item1</a>
                    </p>
                    <div class="item-price-box">
                        <span class="item-price">￦320,000</span>
                    </div>
                </div>
                <div class="campers-pick__item">
                    <a href="#">
                        <img class="campers-pick__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/09/37/772/772_detail_065.jpg"
                            alt=""></a><br>
                    <p class="item-tit-box">
                        <a href="#">item2</a>
                    </p>
                    <div class="item-price-box">
                        <span class="item-price">￦450,000</span>
                    </div>
                </div>
                <div class="campers-pick__item">
                    <a href="#">
                        <img class="campers-pick__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/06/26/760/760_detail_013.jpg"
                            alt=""></a><br>
                    <p class="item-tit-box">
                        <a href="#">item3</a>
                    </p>
                    <div class="item-price-box">
                        <span class="item-price">450,000</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="./home.js"></script>
</body>

</html>