.primary_color {
    background-color: #004225;
    color: #fff;
}

.cus_w_50 {
    width: 50px;
}
.cus_w_100 {
    width: 100%;
}
.cus_w_150 {
    width: 150px;
}

.cus_w_200 {
    width: 200px;
}
.cus_display_table {
    display: table;
}
section.cus_mtb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.cus_p_20 {
    padding: 20px 25px !important;
}
.cus_text_align_center {
    text-align: center !important;
}
.cus_v_align_middle {
    vertical-align: middle !important;
}
.c_black {
    color: #0d0d0d;
}
.c_gray {
    color: #b2b2b2;
}
