<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product_list.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>

    <div class="container is-widescreen">
        <aside class="menu">
            <p class="menu__brand">브랜드</p>
            <div class="menu__brand-check-box-container">
                <div class="scrollable-brand-container">
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 헬리녹스()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 스노우피크()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 노르디스크()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 코베아()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 캠핑칸()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 네이처하이크()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 스프링바()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> 레트로스()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> Checkbox 1()
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox"> Checkbox 1()
                    </label>
                </div>
            </div>

            <p class="menu__price">가격</p>
            <div class="price-check-box-container">
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>전체 가격</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>290원 ~ 10000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>10,000원 ~ 50,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>50,000원 ~ 100,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>100,000원 ~ 300,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>300,000원 ~ 500,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>500,000원 ~ 1,000,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>1,000,000원 ~ 2,500,000원</span>
                </label>


            </div>
        </aside>

        <div class="product__container">
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/03/13/726/726_detail_027.jpg"
                            alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Helinox</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">알베르게 차콜</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">1,380,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000102.jpg?1691650542" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Helinox</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">알파인돔 1.5p / 블랙아웃 에디션</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">781,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000482.jpg?1679894163" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Helinox</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">product name</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/06/26/761/761_detail_037.jpg"
                            alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">코트앤드A 블랙</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010050000262.jpg?1693890540" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">체어원 / 코요탄</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000422.jpg?1618361647" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">
                            브이타프 4.0 / 블랙</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000042.jpg?1526445855" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">헬리녹스 노나돔 4.0 베드룸 / 블랙</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">349,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000472.jpg?1679892787" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">노나돔 4.0 / 로 화이트
                        </span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>

            </div>
        </div>
        <div style="height: 600px;"></div>
    </div>
    <script>


        const log = console.log;
        const getData = page => {
            const url = `http://127.0.0.1:5001/api/products?page=${page}_limit=10`;
            return fetch(url).then(response=>response.json());
        }

        const mapData = products => {
            return products.data.map(data => {
               return {imgUrl: data.thumbnailPath,
                        name: data.name,
                    brand: data.brand,
                price: data.price,
            url: `http://127.0.0.1:5001/api/products/${data._id}`};
            })
        }
       

        function displayProducts(products) {
    const productContainer = document.querySelector('.product__container');

    // 상품 목록을 돌면서 화면에 표시
    products.forEach(product => {
        const productBox = document.createElement('div');
        productBox.classList.add('product-box');

        // 상품 정보를 이용하여 productBox 내용을 구성하고 화면에 추가
        const productImgBox = document.createElement('div');
        productImgBox.classList.add('product__img-box');

        const imgLink = document.createElement('a');
        imgLink.href = product.url;

        const productImg = document.createElement('img');
        productImg.classList.add('product__img');
        productImg.src = product.imgUrl;
        productImg.alt = product.name;

        imgLink.appendChild(productImg);
        productImgBox.appendChild(imgLink);

        //brand box 구성
        const brandGoodBox = document.createElement('div');
        brandGoodBox.classList.add('brand__box-good');

        const brandBox = document.createElement('div');
        brandBox.classList.add('brand__box');

        const brandLink = document.createElement('a');
        brandLink.href = '해당브랜드url';

        const brandName = document.createElement('span');
        brandName.classList.add('brand');
        brandName.textContent = product.brand;

        const goodBox = document.createElement('div');
        goodBox.classList.add('good-box');

        const good = document.createElement('i');
        good.classList.add('fa-regular');
        good.classList.add('fa-bookmark');
        good.style.color = '#8c8c8c';

        brandBox.appendChild(brandLink);
        brandLink.appendChild(brandName);
        goodBox.appendChild(good);
        brandGoodBox.appendChild(brandBox);
        brandGoodBox.appendChild(goodBox);

        // product name box 구성
        const nameBox = document.createElement('div');
        nameBox.classList.add('product__name-box');

        const nameLink = document.createElement('a');
        nameLink.href = '해당제품url';

        const productName = document.createElement('span');
        productName.textContent = product.name;

        nameLink.appendChild(productName);
        nameBox.appendChild(nameLink);

        const priceBox = document.createElement('div');
        priceBox.classList.add('price__box');

        const priceString = product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' 원';

        const price = document.createElement('span');
        price.classList.add('price');
        price.textContent = priceString;

        priceBox.appendChild(price);

        productBox.appendChild(productImgBox);
        productBox.appendChild(brandGoodBox);
        productBox.appendChild(nameBox);
        productBox.appendChild(priceBox);

        productContainer.appendChild(productBox);
    });
}
//상품 렌더링 테스트용
getData(1).then(data => {
    displayProducts(mapData(data));
});
    </script>
</body>

</html>