<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product_list.css">
    <link rel="stylesheet" href="../public/header/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>gazago</title>
</head>

<body>
    <header></header>
    <script src="../public/header/Header.js"></script>
    <div class="container is-widescreen wrapper">
        <aside class="menu">
            <p class="menu__brand">브랜드</p>
            <div class="menu__brand-check-box-container">
                <div class="scrollable-brand-container">
                    <a href="http://localhost:5001/product-list/?brand=%EB%B8%8C%EB%9E%9C%EB%93%9C"><label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="브랜드"> 브랜드
                    </label></a>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="미니멀웍스"> 미니멀웍스
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="노르디스크"> 노르디스크
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="코베아"> 코베아
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="캠핑칸"> 캠핑칸
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="네이처하이크"> 네이처하이크
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="스프링바"> 스프링바
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="레트로스"> 레트로스
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="스노우피크"> 스노우피크
                    </label>
                    <label class="checkbox non-dragable">
                        <input type="checkbox" name="brand" value="노르디스크"> 노르디스크
                    </label>
                </div>
            </div>

            <p class="menu__price">가격</p>
            <div class="price-check-box-container">
                <label class="checkbox non-dragable">
                    <input type="checkbox" data-="">
                    <span>전체 가격</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>290원 ~ 10000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>10,000원 ~ 50,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>50,000원 ~ 100,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>100,000원 ~ 300,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>300,000원 ~ 500,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>500,000원 ~ 1,000,000원</span>
                </label>
                <label class="checkbox non-dragable">
                    <input type="checkbox">
                    <span>1,000,000원 ~ 2,500,000원</span>
                </label>


            </div>
        </aside>

        <div class="product__container">
            <!-- <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/03/13/726/726_detail_027.jpg"
                            alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Helinox</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">알베르게 차콜</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">1,380,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000102.jpg?1691650542" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Helinox</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">알파인돔 1.5p / 블랙아웃 에디션</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">781,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000482.jpg?1679894163" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Helinox</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">product name</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="https://cdn-pro-web-251-115.cdn-nhncommerce.com/minimatr4152_godomall_com/data/goods/23/06/26/761/761_detail_037.jpg"
                            alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">코트앤드A 블랙</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010050000262.jpg?1693890540" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">체어원 / 코요탄</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000422.jpg?1618361647" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">
                            브이타프 4.0 / 블랙</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000042.jpg?1526445855" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">헬리녹스 노나돔 4.0 베드룸 / 블랙</span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">349,000원</span>
                </div>
            </div>
            <div class="product-box">
                <div class="product__img-box">
                    <a href="#">
                        <img class="product__img"
                            src="http://www.helinoxstore.co.kr/shopimages/helinox/0010080000472.jpg?1679892787" alt="">
                    </a>
                </div>
                <div class="brand__box-good">
                    <div class="brand__box">
                        <a href="#">
                            <span class="brand">Minimalworks</span>
                        </a>
                    </div>
                    <div class="good-box"><i class="fa-regular fa-bookmark" style="color: #8c8c8c;"></i></div>
                </div>
                <div class="product__name-box">
                    <a href="#">
                        <span class="product">노나돔 4.0 / 로 화이트
                        </span>
                    </a>
                </div>
                <div class="price__box">
                    <span class="price">228,000원</span>
                </div> -->

        </div>
    </div>

    </div>

    <script type="module" src="product_list.js"></script>
</body>

</html>