<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- cdn resource -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bulma.min.css"
        />
        <!-- common css -->
        <link rel="stylesheet" href="/stylesheets/normalize.css" />
        <link rel="stylesheet" href="/stylesheets/admin.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
        <title>admin_order</title>
    </head>
    <body>
        <header></header>
        <main>
            <div class="container is-widescreen">
                <div class="columns">
                    <aside class="side_menu column custom_flex_none_width_15">
                        <ul>
                            <li class="custom_padding_10">
                                <a href="/admin/category" class="custom_color_gray subtitle is-5 cus_hover"
                                    >카테고리 관리</a
                                >
                            </li>
                            <li class="custom_padding_10">
                                <a href="/admin/product" class="custom_color_gray subtitle is-5 cus_hover">상품 관리</a>
                            </li>
                            <li class="custom_padding_10">
                                <a href="/admin/order" class="custom_color_black subtitle is-5 cus_hover">주문 관리</a>
                            </li>
                        </ul>
                    </aside>
                    <div class="order_box column">
                        <div class="order_description custom_margin_top_bottom_30">
                            <h2 class="title is-4">주문 목록</h2>
                        </div>
                        <section class="fillter_section">
                            <section
                                class="fillter_section box is-flex is-justify-content-space-between is-align-items-center"
                            >
                                <div class="is-flex is-flex-direction-column custom_flex_1">
                                    <div class="is-flex custom_margin_bottom_20">
                                        <div
                                            class="is-flex is-align-items-center custom_width_50_percent custom_flex_gap_20"
                                        >
                                            <p class="custom_text_align_center">주문일시</p>
                                            <div id="date_picker" class="is-flex is-align-items-center">
                                                <input
                                                    id="beginDate"
                                                    class="input custom_width_123 custom_input_enter"
                                                    type="text"
                                                    name="start"
                                                    readonly
                                                />
                                                <span class="custom_padding_left_right_21">~</span>
                                                <input
                                                    id="endDate"
                                                    class="input custom_width_123 custom_input_enter"
                                                    type="text"
                                                    name="end"
                                                    readonly
                                                />
                                            </div>
                                        </div>
                                        <div
                                            class="is-flex is-align-items-center custom_width_50_percent custom_flex_gap_20"
                                        >
                                            <p class="custom_text_align_center">주문자명</p>
                                            <input
                                                id="orderUserName"
                                                class="input custom_width_300 custom_input_enter"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="is-flex">
                                        <div
                                            class="is-flex is-align-items-center custom_width_50_percent custom_flex_gap_20"
                                        >
                                            <p class="custom_text_align_center">주문번호</p>
                                            <input
                                                id="orderNumber"
                                                class="input custom_width_300 custom_input_enter"
                                                type="text"
                                            />
                                        </div>
                                        <div
                                            class="is-flex is-align-items-center custom_width_50_percent custom_flex_gap_20"
                                        >
                                            <p class="custom_text_align_center">주문상태</p>
                                            <div class="select">
                                                <select id="orderStatusSelect" class="custom_width_300">
                                                    <option value="">전체보기</option>
                                                    <option>주문접수</option>
                                                    <option>상품준비중</option>
                                                    <option>배송중</option>
                                                    <option>배송완료</option>
                                                    <option>주문취소</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button
                                    id="searchButton"
                                    class="button is-rounded is-small custom_background_color_prime"
                                    type="button"
                                >
                                    조회
                                </button>
                            </section>
                        </section>
                        <section class="order_table columns custom_margin_top_bottom_30">
                            <table class="table column is-full is-striped custom_display_table">
                                <thead>
                                    <tr>
                                        <th class="custom_text_align_center">No</th>
                                        <!-- <th class="custom_text_align_center">이미지</th> -->
                                        <th class="custom_text_align_center">주문번호</th>
                                        <th class="custom_width_150 custom_text_align_center">주문일시</th>
                                        <th class="custom_text_align_center">주문자명</th>
                                        <th class="custom_width_150 custom_text_align_center">결제금액</th>
                                        <th class="custom_text_align_center">배송상태</th>
                                        <th class="custom_text_align_center">주문취소</th>
                                    </tr>
                                </thead>
                                <tbody id="order_list_tbody"></tbody>
                            </table>
                        </section>
                        <div
                        class="pagination-container custom_padding_top_bottom_50 is-flex is-justify-content-center is-align-items-center"
                    ></div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/locales/ko.js"></script>
        <script type="module" src="./admin_order.js"></script>
    </body>
</html>
