<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gazago</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="top-inner">
                <ul class="user-login">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
            <div class="header-main">
                <div class="logo">
                    <img src="logo.png" alt="Logo">
                </div>
                <form action="#" method="GET" class="search">
                        <input name="q" class="input is-normal is-rounded" type="text" placeholder="검색">
                        <button class="button" type="submit">검색</button>
                </form>
                <ul class="user-cart-mypage">
                    <li><a href="#">장바구니</a></li>
                    <li><a href="#">마이페이지</a></li>
                </ul>
            </div>
            <nav class="navbar-container">
                <ul class="navbar">
                    <li><a class="navbar-item" href="#">텐트/타프</a></li>
                    <li><a class="navbar-item" href="#">침낭/매트</a></li>
                    <li><a class="navbar-item" href="#">퍼니쳐</a></li>
                    <li><a class="navbar-item" href="#">주방/바베큐</a></li>
                    <li><a class="navbar-item" href="#">악세사리</a></li>
                </ul>
            </nav>
        </header>
    </div>
</body>

</html>