<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css" />
        <link rel="stylesheet" href="./stripe.css" />
        <title>gazago</title>
    </head>

    <body>
        <div class="payment__box total">
            <span class="input__label input__total">최종 결제금액</span>
            <input class="input" id="amount" type="text" readonly />
        </div>
        <main class="container">
            <form id="payment-form">
                <div class="payment__box owner">
                    <span class="input__label">카드 소유자명</span>
                    <input class="input" id="card-holder-name" type="text" />
                </div>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
                <button class="button is-success" id="submit">결제하기</button>
            </form>
        </main>
    </body>
</html>
<script src="https://js.stripe.com/v3/"></script>
<script>
    const orderTotal = window.opener.document.querySelector('.order__total');
    document.getElementById('amount').value = Number(orderTotal.innerHTML.replace(',', '').replace('원', ''));
    const stripe = Stripe(
        'pk_test_51O0aFaI8jrBVRyJkIeQWSPBzzWC1MHM0WU1j7Cw3tYKaUeT0yphF9bTth8uI8HpgWEMPCZrgqMKYTZthw6ajmzDd00VPsH0dtG'
    );
    const elements = stripe.elements();
    const cardElement = elements.create('card');
    cardElement.mount('#card-element');

    const form = document.getElementById('payment-form');
    const errorElement = document.getElementById('card-errors');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const cardHolderName = document.getElementById('card-holder-name').value;
        const amount = document.getElementById('amount').value;

        const { token, error } = await stripe.createToken(cardElement, {
            name: cardHolderName,
        });

        if (error) {
            errorElement.textContent = error.message;
        } else {
            fetch('/api/stripe/process-payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    token: token.id,
                    amount: amount,
                }),
            })
                .then((res) => res.json())
                .then((data) => {
                    if (data.code === 200) {
                        alert('결제가 완료되었습니다.');
                        window.close();
                    } else {
                        // 에러 처리
                        console.error('Payment error:', data.message);
                    }
                });
        }
    });
</script>
