<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>gazago</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href="./mypage.css" />
        <link rel="stylesheet" href="../module/mypage_menu.css" />
    </head>
    <body>
        <main class="container is-widescreen">
            <!-- side bar -->
            <div id="menu-container"></div>

            <!-- main -->
            <div class="main-container">
                <h1 class="title">주문내역</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="is-narrow">주문번호</th>
                            <th class="is-normal">주문일시</th>
                            <th class="is-normal">상품명</th>
                            <th class="is-normal">결제금액</th>
                            <th class="is-normal">배송상태</th>
                        </tr>
                    </thead>
                    <tbody id="orderlist-tbody">
                    <!-- 주문내역 데이터 주입 -->
                    </tbody>
                </table>
            </div>
        </main>
        <script src="../module/mypage_menu.js"></script>
        <script src="./mypage.js" type="module" defer></script>
    </body>
</html>
