<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>gazago</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href="./register.css" />
    </head>
    <body>
        <div class="center container is-widescreen">
            <h1 class="logo">
                <img src="../login/gazagologo.png" alt="logo" />
            </h1>
            <!-- 회원가입 form -->
            <form method="post" action="/register" id="form-container">
                <div class="title">
                    <p>회원가입</p>
                </div>
                <div class="text-field">
                    <label for="email-input">이메일 주소*</label>
                    <input type="text" id="email-input" name="email-input" placeholder="예) gazago@gazago.com" />
                    <div class="error"></div>
                    <!-- <button class="btn button is-small is-rounded">인증요청</button> -->
                </div>
                <!-- 인증하기 추후 구현 예정 -->
                <!-- <div class="text-field">
                    <label for="authCode">인증번호*</label>
                    <input type="text" name="authCode" id="authCodeInput" required/>
                    <span></span>
                    <button class="btn button is-small is-rounded">인증하기</button>
                </div> -->
                <div class="text-field">
                    <label for="password-input">비밀번호*</label>
                    <input type="text" id="password-input" placeholder="영문, 숫자, 특수문자 조합 8-16자" />
                    <div class="error"></div>
                </div>
                <div class="text-field">
                    <label for="confirmpw-input">비밀번호 확인*</label>
                    <input type="text" id="confirmpw-input" />
                    <div class="error"></div>
                </div>
                <button id="submit" type="submit" class="button is-fullwidth is-rounded">가입하기</button>
            </form>
        </div>
        <script src="./register.js" type="module" defer></script>
    </body>
</html>
