<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gazago</title>
  <link rel="stylesheet" href="./login.css">
</head>
<body>
  <section class="center">
    <h1 class="logo">
      <img src="./gazagologo.png" alt="logo">
    </h1>
    <form action="post">
      <div class="text_filed">
        <label for="userMail">이메일 주소</label>
        <input type="text" name="userMail" required>
        <span></span>
      </div>
      <div class="text_filed">
        <label for="password">비밀번호</label>
        <input type="password" name="password" required>
        <span></span>
      </div>
      <input id="submit" type="submit" value="로그인">
      <ul class="look_box">
        <li class="look_link">
          <a href="#">회원 가입</a>
        </li>
        <li class="look_link">
          <a href="#">비밀번호 찾기</a>
        </li>
      </ul>
    </form>
  </section>
</body>
</html>