<!-- menu template -->
<div id="menu-template">
    <aside class="menu-container">
        <p class="sub-title">쇼핑 정보</p>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="/mypage" class="menu-link">주문 내역</a>
            </li>
            <li class="menu-item">
                <a href="/mypage/wishlist" class="menu-link">관심 상품</a>
            </li>
        </ul>
        <p class="sub-title">내 정보</p>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="/mypage/account" class="menu-link">회원정보 변경</a>
            </li>
        </ul>
    </aside>
</div>
